<article class="fut-card" [class.fut-card--selected]="selected">
  @if (jugador.equipoProfesionalLogo) {
    <img class="fut-card__watermark"
        [src]="jugador.equipoProfesionalLogo"
        alt="" />
  }

  @if (jugador.equipoProfesionalLogo) {
    <img class="fut-card__badge"
        [src]="jugador.equipoProfesionalLogo"
        alt="" />
  }

  <div class="fut-card__header">
    <div class="fut-card__meta">
      <span class="fut-card__rating">{{ valorLabel }}</span>
      <span class="fut-card__pos">{{ posicionLabel }}</span>
    </div>
  </div>

  <div class="fut-card__photo">
    <img [src]="jugador.foto || 'https://cdn-icons-png.flaticon.com/512/149/149071.png'"
        [alt]="jugador.nombre" />
  </div>

  <div class="fut-card__footer">
    <div class="fut-card__stripe"></div>
    <p class="fut-card__name">{{ jugador.nombre }}</p>
  </div>
</article>
